@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Playfair+Display:400i,700i");
html:root {
  /* colors
   * ================================ */
  --white: #fefefe;
  --white-bg: #f6f6f6;
  --grey-light: #eeeeee;
  --grey: #707070;
  --grey-dark: #444444;
  --black: #262626;
  --purple: #b60977;
  --teal: #19cada;
  --teal-dark: #1b5c64;
  --red: #e74c3c;
  /* animation values
   * ================================ */
  --standard-easing-duration: 0.24s;
  --standard-easing-bezier: 0.56, 0.26, 0.37, 0.98;
  --drop-in-easing-bezier: 0.73, 0.14, 1, 0.99;
  --drop-in-animation-delay: 0.77s;
  /* padding, margin, and spacing values
   * ================================ */
  --nav-band-height: 80px;
  --nav-top-offset: 70px;
  --header-height: 38px;
  --gallery-width: 1300px;
  /* depth effect values
   * ================================ */
  --w-mid: 0px;
  --h-mid: 0px;
  --sc-mid: 0px;
  /* CSS Transform equations
   * =======================                           // pan                   // scroll
   * ================================ */
  --f-t: calc(var(--w-mid)/8), calc(var(--h-mid)/6 + var(--sc-mid)*3);
  --f-t-sc: scale(1);
  --mf-t: calc(var(--w-mid)/9.33), calc(var(--h-mid)/9.33 + var(--sc-mid)*2.25);
  --mf-t-sc: scale(0.86);
  --mb-t: calc(var(--w-mid)/10.66), calc(var(--h-mid)/12.66 + var(--sc-mid)*1.5);
  --mb-t-sc: scale(0.73);
  --b-t: calc(var(--w-mid)/12), calc(var(--h-mid)/16 + var(--sc-mid)/1.5);
  --b-t-sc: scale(0.6);
  --c-s--color-1: rgb(225,81,81);
  --c-s--color-2: rgb(217,92,78);
  --c-s--color-3: rgb(210,104,75);
  --c-s--color-4: rgb(203,116,72);
  --c-s--color-5: rgb(196,127,70);
  --c-s--color-6: rgb(189,139,67);
  --c-s--color-7: rgb(182,151,64);
  --c-s--color-8: rgb(175,162,62);
  --c-s--color-9: rgb(168,174,59);
  --c-s--color-10: rgb(161,186,56);
  --c-s--color-11: rgb(154,198,54); }
  @media screen and (min-width: 1200px) {
    html:root {
      --nav-band-height: 170px; } }

.u-abs-c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.u-flex--c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__bg, .header__trigger {
  margin: auto;
  width: 11vw;
  max-width: 44px;
  height: 10vw;
  max-height: 38px;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem); }

@-webkit-keyframes circle-expand {
  0% { }
  100% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%); } }

@keyframes circle-expand {
  0% { }
  100% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%); } }

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fade-in-down {
  opacity: 0;
  -webkit-animation: fade-in-down var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
          animation: fade-in-down var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes drop-in {
  0% {
    -webkit-transform: translate(40%, 52%) scale(1.96) rotate(-20deg);
            transform: translate(40%, 52%) scale(1.96) rotate(-20deg);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    opacity: 1; } }

@keyframes drop-in {
  0% {
    -webkit-transform: translate(40%, 52%) scale(1.96) rotate(-20deg);
            transform: translate(40%, 52%) scale(1.96) rotate(-20deg);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0%, 0%) scale(1);
            transform: translate(0%, 0%) scale(1);
    opacity: 1; } }

@-webkit-keyframes blur-text {
  0% { }
  100% {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75); } }

@keyframes blur-text {
  0% { }
  100% {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.75); } }

@-webkit-keyframes bump-in {
  0% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%); }
  99% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes bump-in {
  0% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%); }
  99% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.mq {
  position: fixed;
  top: 2px;
  left: 2px;
  pointer-events: none; }
  .mq [class$='only'] {
    opacity: 0.8; }
  .mq * {
    color: var(--grey);
    font-weight: 300;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2; }

.small-only,
.smedium-only,
.medium-only,
.large-only,
.xlarge-only,
.portrait-only,
.landscape-only {
  display: none; }

@media screen and (max-width: 599px) {
  .small-only {
    display: inline; } }

@media screen and (min-width: 600px) and (max-width: 899px) {
  .smedium-only {
    display: inline; } }

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .medium-only {
    display: inline; } }

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  .large-only {
    display: inline; } }

@media screen and (min-width: 1800px) {
  .xlarge-only {
    display: inline; } }

@media screen and (orientation: portrait) {
  .portrait-only {
    display: inline; } }

@media screen and (orientation: landscape) {
  .landscape-only {
    display: inline; } }

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   @mixin ========================================================================= */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* Sections
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Text-level semantics
   @mixin ========================================================================= */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   @mixin ========================================================================= */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* Interactive
   @mixin ========================================================================= */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: var(--white);
  position: relative;
  padding: 0;
  margin: 0; }

input {
  padding: 0.25rem; }

select {
  height: 30px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

html {
  font-family: "Montserrat", tahoma, helvetica, sans-serif;
  font-size: 16px;
  color: var(--black); }

h1, .h1 {
  font-size: 1.29616rem; }
  @media screen and (min-width: 37.5rem) {
    h1, .h1 {
      font-size: calc(1.29616rem + 1.14525 * ((100vw - 37.5rem) / 42.5)); } }
  @media screen and (min-width: 80rem) {
    h1, .h1 {
      font-size: 2.44141rem; } }

h2, .h2 {
  font-size: 1.21477rem; }
  @media screen and (min-width: 37.5rem) {
    h2, .h2 {
      font-size: calc(1.21477rem + 0.73836 * ((100vw - 37.5rem) / 42.5)); } }
  @media screen and (min-width: 80rem) {
    h2, .h2 {
      font-size: 1.95312rem; } }

h3, .h3 {
  font-size: 1.13849rem; }
  @media screen and (min-width: 37.5rem) {
    h3, .h3 {
      font-size: calc(1.13849rem + 0.42401 * ((100vw - 37.5rem) / 42.5)); } }
  @media screen and (min-width: 80rem) {
    h3, .h3 {
      font-size: 1.5625rem; } }

h4, .h4 {
  font-size: 1.067rem; }
  @media screen and (min-width: 37.5rem) {
    h4, .h4 {
      font-size: calc(1.067rem + 0.183 * ((100vw - 37.5rem) / 42.5)); } }
  @media screen and (min-width: 80rem) {
    h4, .h4 {
      font-size: 1.25rem; } }

h5, .h5 {
  font-size: 1rem; }
  @media screen and (min-width: 37.5rem) {
    h5, .h5 {
      font-size: calc(1rem + 0 * ((100vw - 37.5rem) / 42.5)); } }
  @media screen and (min-width: 80rem) {
    h5, .h5 {
      font-size: 1rem; } }

h6, .h6 {
  font-size: 0.93721rem; }
  @media screen and (min-width: 37.5rem) {
    h6, .h6 {
      font-size: calc(0.93721rem + -0.13721 * ((100vw - 37.5rem) / 42.5)); } }
  @media screen and (min-width: 80rem) {
    h6, .h6 {
      font-size: 0.8rem; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal; }

p,
a,
span {
  line-height: calc(1.4rem + 0.66vw); }
  p,
  a,
  span {
    font-size: 1rem; }
    @media screen and (min-width: 37.5rem) {
      p,
      a,
      span {
        font-size: calc(1rem + 0 * ((100vw - 37.5rem) / 42.5)); } }
    @media screen and (min-width: 80rem) {
      p,
      a,
      span {
        font-size: 1rem; } }

input {
  font-size: 0.93721rem; }
  @media screen and (min-width: 37.5rem) {
    input {
      font-size: calc(0.93721rem + -0.13721 * ((100vw - 37.5rem) / 42.5)); } }
  @media screen and (min-width: 80rem) {
    input {
      font-size: 0.8rem; } }

a {
  text-decoration: none;
  color: var(--color-action); }

i.fa {
  font-size: calc(0.9rem - 10% + 0.66vw); }

.p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1400px; }

.g {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(60, 20px);
  grid-template-rows: repeat(37, 16px);
  grid-gap: 0.25rem; }

.g--f .c-s {
  -webkit-box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1), -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1); }
  .g--f .c-s:hover, .g--f .c-s:focus, .g--f .c-s:active {
    -webkit-box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.25); }

.g--m .c-s {
  -webkit-box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1), -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1); }
  .g--m .c-s:hover, .g--m .c-s:focus, .g--m .c-s:active {
    -webkit-box-shadow: 0px 7.5px 21px rgba(0, 0, 0, 0.275);
    box-shadow: 0px 7.5px 21px rgba(0, 0, 0, 0.275); }

.g--b .c-s {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1), -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1); }
  .g--b .c-s:hover, .g--b .c-s:focus, .g--b .c-s:active {
    -webkit-box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.25); }

.cont {
  width: 100%;
  min-height: 100vh; }

.main {
  padding-bottom: 6rem;
  margin-top: 40px;
  background-color: var(--white-bg); }

.gallery {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  @media screen and (min-width: 600px) {
    .gallery {
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
      -ms-flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-flow: row wrap;
      width: calc(100% - 1.5rem);
      max-width: var(--gallery-width);
      margin: auto; } }

.gallery--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (min-width: 600px) {
  .gallery--mosaic {
    padding: 0 0.33rem;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 0.66rem;
    column-gap: 0.66rem; } }

@media screen and (min-width: 900px) {
  .gallery--mosaic {
    padding: 0 0.5rem;
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    column-gap: 1rem; } }

@media screen and (min-width: 1200px) {
  .gallery--mosaic {
    padding: 0 0.75rem;
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem; } }

.footer {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background-color: var(--white-bg); }
  .footer li {
    padding: 0.5rem 1.5rem; }

.home .footer {
  margin-top: 2.5rem; }

.header {
  position: relative;
  width: 100%;
  height: var(--header-height); }
  @media screen and (min-width: 1200px) and (orientation: landscape) {
    .header {
      display: none; } }

.nav--header {
  position: absolute;
  display: none; }

.header__bg {
  background-color: var(--teal);
  -webkit-transition: all var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
  transition: all var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
  will-change: width, height;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  right: 0.5rem;
  left: initial; }

.header__trigger {
  z-index: 2;
  right: 0.5rem;
  left: initial; }

.header__bars {
  position: relative;
  display: block;
  width: 100%;
  height: 100%; }
  .header__bars::before, .header__bars::after {
    content: '';
    display: block;
    width: 5vw;
    max-width: 22px;
    height: 0.125rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--white);
    -webkit-transition: -webkit-transform var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
    transition: -webkit-transform var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
    transition: transform var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
    transition: transform var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier)), -webkit-transform var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier)); }
  .header__bars::before {
    top: 0.4rem; }
  .header__bars::after {
    bottom: 0.4rem; }

.x {
  width: 100%;
  height: 100%;
  z-index: -10; }

.header--open .nav--header,
.header--open .nav__ul {
  height: 255px; }

.header--open .nav--header {
  display: block; }

.header--open .header__bg {
  max-width: 100%;
  max-height: 100vh;
  width: 100%;
  height: 460px;
  mix-blend-mode: darken;
  right: 0; }

.header--open .nav--header {
  z-index: 1; }

.header--open .header__bars::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 1rem 0rem;
          transform-origin: 1rem 0rem; }

.header--open .header__bars::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0.9rem 0.1rem;
          transform-origin: 0.9rem 0.1rem; }

.header--open .nav__ul {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0; }

.header--open .nav__li {
  opacity: 0;
  -webkit-animation: fade-in-down var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
          animation: fade-in-down var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  .header--open .nav__li:nth-child(1) {
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s; }
  .header--open .nav__li:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .header--open .nav__li:nth-child(3) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s; }
  .header--open .nav__li:nth-child(4) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .header--open .nav__li:nth-child(5) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s; }
  .header--open .nav__li:nth-child(6) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }

.header--open ~ .x {
  z-index: initial; }

@media screen and (max-width: 1199px) and (orientation: portrait) {
  .header--open ~ .cover .cover__h1,
  .header--open ~ .cover .cover__p {
    -webkit-animation: blur-text var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
            animation: blur-text var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s; } }

.card {
  position: relative;
  border: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: inherit;
  width: calc(90vw - 2rem);
  margin: 0 auto 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1), -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  background-color: var(--white); }
  .card:hover, .card:focus, .card:active {
    -webkit-box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.12); }
  .card img {
    height: initial;
    width: initial; }
  @media screen and (min-width: 600px) {
    .card {
      width: initial; } }

.card--small {
  cursor: pointer; }

.card__cont {
  position: relative; }

.card--large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  min-width: initial !important;
  max-width: 1000px !important;
  max-height: 100vh;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; }
  @media screen and (min-width: 900px) {
    .card--large {
      position: fixed;
      margin: auto !important;
      max-height: 800px;
      width: 90%;
      height: 90%; } }
  .card--large .card__img {
    -ms-flex: 5;
    -webkit-box-flex: 5;
            flex: 5;
    min-height: 71.4%;
    -ms-align-self: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background: #444 center / contain no-repeat; }
  .card--large .card__cont {
    -ms-flex: 2;
    -webkit-box-flex: 2;
            flex: 2;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    width: 100%;
    padding: 1.5rem; }

.card--active {
  opacity: 1;
  pointer-events: initial; }
  .card--active .card__cont {
    padding: 0.875rem;
    -ms-align-self: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    @media screen and (min-width: 900px) {
      .card--active .card__cont {
        padding: 1.5rem; } }
  .card--active .card__cont-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 0.875rem; }
    @media screen and (min-width: 900px) {
      .card--active .card__cont-1 {
        margin-bottom: 0; } }
  .card--active .card__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0.875rem;
    top: 0.875rem; }

.card--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (min-width: 900px) {
    .card--vertical {
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row; } }
  .card--vertical .card__img {
    background: #444 center / contain no-repeat; }
    @media screen and (min-width: 900px) {
      .card--vertical .card__img {
        background: #444 center / cover no-repeat;
        -ms-flex: 2.2;
        -webkit-box-flex: 2.2;
                flex: 2.2;
        height: 100%; } }

.card__img--youtube.card__img--youtube {
  -ms-flex: unset;
  -webkit-box-flex: unset;
          flex: unset; }
  .card__img--youtube.card__img--youtube .card__img {
    min-height: unset; }

.card__img-c {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

.card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

.card__cont {
  min-height: 115px;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.card__cont-1 {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1; }

.card__cont-2 {
  -ms-flex: 2;
  -webkit-box-flex: 2;
          flex: 2;
  overflow-y: scroll; }

.card__title {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.55px; }

.card__sub {
  font-family: "Playfair Display", times, serif;
  font-style: italic;
  font-weight: 400;
  color: var(--grey); }

.card__close {
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  color: var(--red) !important; }
  .card__close i {
    font-style: normal;
    font-size: 1.33rem; }

@media screen and (min-width: 600px) {
  .gallery--flex .card {
    min-width: 48%;
    max-width: 48%;
    margin-left: 0.33rem;
    margin-right: 0.33rem; } }

@media screen and (min-width: 900px) {
  .gallery--flex .card {
    min-width: 31%;
    max-width: 31%;
    margin-left: 0.5rem;
    margin-right: 0.5rem; } }

@media screen and (min-width: 1200px) {
  .gallery--flex .card {
    min-width: 23%;
    max-width: 23%;
    margin-left: 0.75rem;
    margin-right: 0.75rem; } }

.gallery--mosaic .card {
  -webkit-break-inside: avoid;
  -webkit-column-break-inside: avoid;
          break-inside: avoid; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1);
  transition: box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1), -webkit-box-shadow 0.33s cubic-bezier(0.53, 1, 0.9, 1); }
  .btn:hover, .btn:focus, .btn:active {
    -webkit-box-shadow: 0px 7.5px 21px rgba(0, 0, 0, 0.275);
    box-shadow: 0px 7.5px 21px rgba(0, 0, 0, 0.275); }

.btn--un {
  background: 0;
  border: 0; }
  .btn--un:hover, .btn--un:focus, .btn--un:active {
    background: 0; }

.btn--more {
  background-color: var(--teal);
  color: var(--white);
  width: 130px;
  height: 36px;
  text-transform: uppercase;
  text-align: center; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.cover {
  min-height: 80vh;
  width: 100%;
  position: relative;
  -ms-justify-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--white); }

.cover__bg {
  width: 100%;
  height: 100%;
  background: -160px/131% no-repeat; }
  @media screen and (orientation: landscape) {
    .cover__bg {
      background: left/contain no-repeat; } }
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .cover__bg {
      background: -130px/610px no-repeat; } }
  @media screen and (min-width: 900px) and (max-width: 1199px) and (orientation: portrait) {
    .cover__bg {
      background: -250px/100% no-repeat; } }
  @media screen and (min-width: 1200px) {
    .cover__bg {
      background: left/contain no-repeat; } }

.cover__t-c {
  min-width: 55vw;
  text-align: center;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 20vw;
  margin-left: auto; }
  @media screen and (min-width: 1200px) {
    .cover__t-c {
      margin-top: initial;
      -ms-flex-item-align: initial;
          align-self: initial; } }

.cover__h1 {
  font-weight: 600; }

.cover__p {
  color: var(--grey);
  font-family: "Playfair Display", times, serif;
  font-style: italic; }

.cover__nav-b {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(var(--nav-band-height) + var(--nav-top-offset));
  -webkit-transform: translateY(var(--nav-band-height));
          transform: translateY(var(--nav-band-height));
  background-color: var(--teal);
  mix-blend-mode: multiply; }

.nav {
  position: relative;
  color: var(--white);
  min-height: calc(var(--nav-band-height) - var(--nav-top-offset) + 30px); }
  .nav .fa-circle {
    font-size: 12px; }

.nav__li {
  -webkit-transition: color var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier));
  transition: color var(--standard-easing-duration) cubic-bezier(var(--standard-easing-bezier)); }
  .nav__li:hover {
    color: var(--teal-dark); }

.nav__a {
  color: var(--white);
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }

.nav__a-title {
  text-transform: uppercase;
  letter-spacing: 1px; }

.nav--closed {
  display: none; }

.nav--header .nav__fa,
.nav--header .nav__a-title {
  pointer-events: none; }

.nav--header .nav__fa {
  min-width: 6rem;
  text-align: center; }

.nav--header .nav__fa--i {
  font-size: 1.4rem; }

.nav--header .fa-circle {
  display: none; }

.nav--header .nav__a-title {
  font-weight: 300; }

.nav--body {
  border-top: 3px solid var(--white); }
  .nav--body .nav__ul {
    display: none;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    @media screen and (min-width: 1200px) {
      .nav--body .nav__ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: right;
        width: 60%;
        margin-right: 3%;
        -webkit-transform: translateY(-52.33%);
                transform: translateY(-52.33%);
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .nav--body .nav__a {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .nav--body .nav__fa--i {
    min-height: 2.5rem !important;
    font-size: 1.8rem !important; }
  .nav--body .nav__fa {
    min-height: 1.2rem; }

.nav__li--active .nav__a {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }

.gallery__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(10, 10, 10, 0.33);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; }

.gallery__backdrop--active {
  opacity: 1;
  pointer-events: initial; }

.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

.content--contact {
  max-width: 560px;
  margin-top: 4rem; }

/*# sourceMappingURL=app.css.map */
