.card
  position: relative
  // min-height: 300px
  border: 0
  padding: 0
  align-items: center
  font: inherit
  width: calc(90vw - 2rem)
  margin: 0 auto 2rem
  @include display-flex
  @include flex-direction(column)
  @include flex-shorthand(1)
  @include material-mute--active
  background-color: var(--white)
  img
    height: initial
    width: initial

  @media screen and ( $min-width-smedium )
    width: initial

.card--small
  cursor: pointer

.card__cont
  position: relative

.card--large
  +display-flex
  position: fixed
  min-width: initial!important
  max-width: 1000px!important
  max-height: 100vh
  z-index: 2
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  transition: opacity 0.3s ease-in-out
  pointer-events: none
  @media screen and ($min-width-medium)
    position: fixed
    margin: auto!important
    max-height: $card-overlay-height
    width: 90%
    height: 90%

  .card__img
    +flex-shorthand(5)
    min-height: 71.4% // 5 / 7
    +align-self(stretch)
    background: #444 center / contain no-repeat
    // +display-flex
    // flex-direction(column)

  .card__cont
    +flex-shorthand(2)
    +flex-direction(row)
    width: 100%
    padding: 1.5rem

.card--active
  opacity: 1
  pointer-events: initial
  .card__cont
    padding: 0.875rem
    +align-self(stretch)
    +flex-direction(column)
    @media screen and ($min-width-medium)
      padding: 1.5rem

  .card__cont-1
    +display-flex
    +justify-content(center)
    +flex-direction(column)
    margin-bottom: 0.875rem
    @media screen and ($min-width-medium)
      margin-bottom: 0

  .card__close
    +display-flex
    +align-items(center)
    position: absolute
    right: 0.875rem
    top: 0.875rem

.card--vertical
  +display-flex
  @media screen and ($min-width-medium)
    +flex-direction(row)

  .card__img
    background: #444 center / contain no-repeat
    @media screen and ($min-width-medium)
      background: #444 center / cover no-repeat
      +flex-shorthand(2.2)
      height: 100%

  // .card__cont
  //   padding: 0.875rem
  //   +align-self(stretch)
  //   +flex-direction(column)
  //   @media screen and ($min-width-medium)
  //     padding: 1.5rem

  // .card__cont-1
  //   +display-flex
  //   +justify-content(center)
  //   +flex-direction(column)
  //   margin-bottom: 0.875rem
  //   @media screen and ($min-width-medium)
  //     margin-bottom: 0

  // .card__close
  //   position: absolute
  //   right: 0.875rem
  //   top: 0.875rem

.card__img--youtube.card__img--youtube
  +flex-shorthand(unset)

  .card__img
    min-height: unset

.card__img-c
  @include flex-shorthand(1)

.card__img
  +display-flex
  +align-items(center)
  max-width: 100%
  @include flex-shorthand(1)

.card__cont
  min-height: 115px
  @include flex-direction(column)

.card__cont-1
  +flex-shorthand(1)

.card__cont-2
  +flex-shorthand(2)
  overflow-y: scroll

.card__title
  text-transform: uppercase
  font-size: 0.85rem
  font-weight: 600
  letter-spacing: 0.55px

.card__sub
  font-family: $font-script
  font-style: italic
  font-weight: 400
  color: var(--grey)

.card__close
  cursor: pointer
  font-size: 1rem
  padding: 0
  color: var(--red)!important
  i
    font-style: normal
    font-size: 1.33rem

// this is anti-pattern but I will allow it
.gallery--flex
  // styles in the objects > wrappers partial
  .card
    @media screen and ( $min-width-smedium )
      min-width: 48%
      max-width: 48%
      margin-left: 0.33rem
      margin-right: 0.33rem

    @media screen and ( $min-width-medium )
      min-width: 31%
      max-width: 31%
      margin-left: 0.5rem
      margin-right: 0.5rem

    @media screen and ( $min-width-large )
      min-width: 23%
      max-width: 23%
      margin-left: 0.75rem
      margin-right: 0.75rem

.gallery--mosaic
  // styles in the objects > wrappers partial
  .card
    -webkit-break-inside: avoid
    break-inside: avoid
